<!-- <div class="container-fluid">
    <mat-form-field appearance="outline">
        <mat-label>
            Table type
        </mat-label>
        <mat-select [(ngModel)]="tableType">
            <mat-option value="tags">Tags</mat-option>
            <mat-option value="vendor">Vendor</mat-option>
            <mat-option value="expense_categories">Expense Categories</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<app-table *ngIf="tableType=='tags'"
[page]="tableType"
[displayedColumnsDetail]="displayedColumnsDetail"
[taqlQuery]="taqlQuery"
[pageName]="'Tag'"
>
</app-table>

<app-table *ngIf="tableType=='vendor'"
[page]="tableType"
[displayedColumnsDetail]="displayedColumnsDetailVendor"
[taqlQuery]="taqlQueryVendor"
[pageName]="'Vendor'"
>
</app-table>

<app-table *ngIf="tableType=='expense_categories'"
[page]="tableType"
[displayedColumnsDetail]="displayedColumnsDetailExpense"
[taqlQuery]="taqlQueryExpense"
[pageName]="'Expense Categories'"
>
</app-table> -->