<div class="container">
    <div class="row mb-2 align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 mb-5">

            <div class="card p-4">
                <h2 class="border-bottom pb-3">
                    Update Password
                </h2>
                <form class="m-t-30" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      
                    <!-- password -->
                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Old Password</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" />
                      <button type="button" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="!passwordVisible">
                        <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="updatePasswordForm.controls['password'].hasError('required')">
                        Old Password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">New Password</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput [type]="newPasswordVisible ? 'text' : 'new_password'" formControlName="new_password" />
                      <button type="button" mat-icon-button matSuffix (click)="newPasswordVisible = !newPasswordVisible" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="!newPasswordVisible">
                        <mat-icon>{{newPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="updatePasswordForm.controls['new_password'].hasError('required')">
                        Password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    
                    <!-- password -->
                    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput [type]="cPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" />
                      <button type="button" mat-icon-button matSuffix (click)="cPasswordVisible = !cPasswordVisible" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="!cPasswordVisible">
                        <mat-icon>{{cPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="updatePasswordForm.controls['confirmPassword'].hasError('required')">
                        Confirm Password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-error [ngClass]="{'text-muted': !updatePasswordForm.controls['new_password'].hasError('pattern')}">*Password must be at least 8 characters long and include lowercase, uppercase, and numbers.</mat-error>
                    <mat-error class="mt-2" *ngIf="updatePasswordForm.controls['new_password'].value && updatePasswordForm.controls['confirmPassword'].value && updatePasswordForm.controls['new_password'].value!==updatePasswordForm.controls['confirmPassword'].value">*Ensure that the password and confirm password fields are identical.</mat-error>
    
                    <button mat-flat-button color="primary" type="submit" class="w-100 mt-3" [disabled]="!updatePasswordForm.valid && updatePasswordForm.controls['new_password'].value!==updatePasswordForm.controls['confirmPassword'].value || submitted">
                      Update
                    </button>
                  </form>
            </div>
        </div>
    </div>
</div>