<div class="blank-layout-container justify-content-center h-100">
    <div class="position-relative row w-100 h-100">
      <div class="col-lg-7 col-xl-8 bg-gredient p-0 border-end">
        <div class="p-24 h-100">
          <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
            <img src="/assets/images/login-bg.svg" alt="login" style="max-width: 500px" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 p-0">
        <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
          <div class="row justify-content-center w-100" *ngIf="showForgotForm">
            <div class="col-lg-9 max-width-form">
              <h4 class="f-w-700 f-s-24 m-0">Welcome to {{title}}</h4>
              <span class="f-s-14 d-block mat-body-1 m-t-8">Enter email to reset your password or <a routerLink="/login" class="link">Login.</a></span>
  
              <form class="m-t-30" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="email" />
                  <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="!forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].hasError('email')">
                    Please enter the correct email, this email not valid.
                  </mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="!forgotPasswordForm.valid || submitted">
                  Reset password
                </button>
              </form>
            </div>
          </div>
          <div class="row justify-content-center w-100" *ngIf="!showForgotForm">
            <div class="col-lg-9 max-width-form">
              <h4 class="f-w-700 f-s-24 m-0">Welcome to {{title}}</h4>
              <span class="f-s-14 d-block mat-body-1 m-t-8">Reset your password or <a routerLink="/login" class="link">Login.</a></span>
  
              <form class="m-t-30" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">OTP</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="otp" />
                  <mat-error *ngIf="resetPasswordForm.controls['otp'].hasError('required')">
                    OTP is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
  
                <!-- password -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" />
                  <button type="button" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="!passwordVisible">
                    <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                
                <!-- password -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [type]="cPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" />
                  <button type="button" mat-icon-button matSuffix (click)="cPasswordVisible = !cPasswordVisible" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="!cPasswordVisible">
                    <mat-icon>{{cPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
                    Confirm Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-error [ngClass]="{'text-muted': !resetPasswordForm.controls['password'].hasError('pattern')}">*Password must be at least 8 characters long and include lowercase, uppercase, and numbers.</mat-error>
                <mat-error class="mt-2" *ngIf="resetPasswordForm.controls['password'].value && resetPasswordForm.controls['confirmPassword'].value && resetPasswordForm.controls['password'].value!==resetPasswordForm.controls['confirmPassword'].value">*Ensure that the password and confirm password fields are identical.</mat-error>

                <button mat-flat-button color="primary" type="submit" class="w-100 mt-3" [disabled]="!resetPasswordForm.valid || resetPasswordForm.controls['password'].value!==resetPasswordForm.controls['confirmPassword'].value || submitted">
                  Reset
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>