<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0 border-end">
      <div class="p-24 h-100">
        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/login-bg.svg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Welcome to {{title}}</h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8">Login to your dashboard or click here to <a routerLink="/register" class="link">Register.</a></span>

            <form class="m-t-30" [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="email" />
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="!loginForm.controls['email'].hasError('required') && loginForm.controls['email'].hasError('email')">
                  Please enter the correct email, this email not valid.
                </mat-error>
              </mat-form-field>

              <!-- password -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" />
                <button type="button" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="!passwordVisible">
                  <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="text-end mb-4">
                <a routerLink="/forgot-password" class="link">Forgot password.</a>
              </div>
              <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="!loginForm.valid || submitted">
                Sign In
              </button>

              <button mat-flat-button class="w-100 mt-2" routerLink="/register">
                Register
              </button>
              <!-- input -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>