<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex">
            <h2>{{tableFormat?.display_name || tableFormat?.name}} Table</h2>
        </div>
        <div class="col-12 d-flex mb-3" >
            <button mat-raised-button color="basic" class="text-capitalize" (click)="showFilter=!showFilter">
                <mat-icon>filter_alt</mat-icon>
                Filters
            </button>
            <button mat-raised-button color="primary" class="text-capitalize ms-auto" (click)="addForm()" *ngIf="showAddForm">
                <mat-icon>add</mat-icon>
                {{tableFormat?.display_name || tableFormat?.name}}
            </button>
        </div>
        <div class="col-12 d-flex flex-wrap filter-box" *ngIf="showFilter">
            <ng-container *ngFor="let filter of booleanFilterArray">
            <mat-form-field class="me-3">
                <mat-label class="text-capitalize">{{filter.name}}</mat-label>
                <mat-select [placeholder]="'Select '+filter.name" [(ngModel)]="customFilterValue[filter.key]" (ngModelChange)="applyFilter()">
                    <mat-option *ngFor="let opt of optionsArray" [value]="opt.value">
                        {{opt.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </ng-container>

            <ng-container *ngFor="let filter of referenceFilterArray">
                <mat-form-field class="me-3">
                    <mat-label class="text-capitalize">{{filter.name}}</mat-label>
                    <mat-select [placeholder]="'Select '+filter.name" [(ngModel)]="customFilterValue[filter.key]" (ngModelChange)="applyFilter()">
                        <mat-option *ngFor="let opt of referenceTables[filter.reference?.table]" [value]="opt[filter.reference?.column]">
                            {{opt[filter.reference?.display] || opt[filter.reference?.column]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </ng-container>

            <ng-container *ngFor="let filter of dateFilterArray">
                <mat-form-field (click)="picker.open()" class="me-3">
                    <mat-label>{{filter.name}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker" readonly (click)="picker.open()">
                    <input matStartDate [(ngModel)]="customFilterValue[filter.key]['start']" (blur)="applyFilter()" placeholder="Start date">
                    <input matEndDate [(ngModel)]="customFilterValue[filter.key]['end']" (ngModelChange)="applyFilter()" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </ng-container>
            
            <ng-container *ngFor="let filter of stringFilterArray;let i=index">
            <mat-form-field class="me-3">
                <mat-label class="text-capitalize">{{filter.name}}</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" placeholder="search here" [(ngModel)]="customFilterValue[filter.key]" (ngModelChange)="applyFilter()">
            </mat-form-field>
            </ng-container>
        </div>
        <div class="w-100 col-12 row px-0 mx-0" *ngFor="let filter of numberFilterArray">
            <div class="col-md-4 col-sm-11">
                <div class="w-100">
                    <label class="text-capitalize fw-bold">{{filter.name}}</label>
                    <a class="float-end text-capitalize fw-bold" role="button" (click)="customFilterValue[filter.key]['min']=0;customFilterValue[filter.key]['max']=0;applyFilter()">Reset</a>
                </div>
                <mat-slider class="w-100" min="0" max="5000" [step]="50" [discrete]="true" [showTickMarks]="true">
                    <input [(ngModel)]="customFilterValue[filter.key]['min']" (dragEnd)="applyFilter()" (ngModelChange)="applyFilter()" matSliderStartThumb>
                    <input [(ngModel)]="customFilterValue[filter.key]['max']" (dragEnd)="applyFilter()" (ngModelChange)="applyFilter()" matSliderEndThumb>
                </mat-slider>
            </div>
        </div>
    </div>
    <div class="table-container mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortTable($event)">
            <ng-container *ngFor="let col of displayedColumnsDetail">
                <ng-container [matColumnDef]="col.key">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> {{col.name}} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="!col.reference">
                            <ng-container *ngIf="!(col.type=='number' || col.type=='int' || col.type=='double' || col.type=='date' || col.type=='datetime' || col.type=='boolean')">
                                {{element[col.key]}}
                            </ng-container>
                        
                            <ng-container *ngIf="col.type=='number' || col.type=='int' || col.type=='double'">
                                {{element[col.key] | number:'.0-2'}}
                            </ng-container>
                            <ng-container *ngIf="col.type=='date' || col.type=='datetime'">
                                {{element[col.key] ? ((element[col.key] | date: 'MMM dd yyyy') || '') : ''}}
                            </ng-container>
                            <ng-container *ngIf="col.type=='boolean'">
                                {{element[col.key] ? 'Yes' : 'No'}}
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="col.reference">
                            {{getReference(col,element)}}
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Click to Edit" (click)="addForm('edit',element)" class="iconbutton" color="primary" *ngIf="actions.includes('edit')">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Delete" (click)="delete(element)" class="iconbutton" color="warn" *ngIf="actions.includes('delete')">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Click to Archive" (click)="archive(element)" class="iconbutton" color="primary" *ngIf="actions.includes('archive')">
                        <mat-icon aria-label="Delete">archive</mat-icon>
                    </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-container *ngIf="dataSource?.filteredData?.length === 0">
            <h2 class="p-5 text-center">No records found</h2>
        </ng-container>
        <mat-paginator 
        #paginator
        [length]="totalEntries"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="pageNumber"
        (page)="handlePageEvent($event)"
        aria-label="Select page">
        </mat-paginator>
    </div>
</div>